.main_Component{
    padding: 0px;
    margin: 0px;
    height: 5rem;
    width: 100vw;
    display: flex;
    /* background-color: rgba(230, 13, 125, 0.281) ; */
    align-items: center;
    justify-content: center;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
}
.options{
    padding: 0px;
    margin: 0px;
    font-weight: 600;
    font-size: 1.2rem;
    color: white;
}
.options:hover{
    background-color: rgba(33, 8, 21, 0.623);
    padding: 5px;
    cursor: pointer;
    border-radius: 8px;
}
.logo{
    padding: 0px;
    margin: 0px;
    color: white;
    font-weight: 680;
    cursor: pointer;

}